.alert {
    min-width: 35rem;
    height: 5rem;

    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
}

.danger {
    background: #e9c4c4;
    color: red;
}

.info {
    background: #c4d0e9;
    color: blue;
}

.alert__text {
    margin-right: auto;
}
