.container {
    width: 100%;
    background-color: white;
    border-radius: 2rem;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: min-content repeat(2, 1fr) min-content;
}
