.container {
    display: flex;
    justify-content: space-between;
}

.deck__title {
    color: #a9a9a9;
    font-size: 3rem;
}

.deck__title__edit {
    height: 3rem;
    margin-left: 2rem;
}

.card__count {
    color: #5fbd98;
    font-size: 2.5rem;
}
