.introSection {
    width: 100%;
    background-image: linear-gradient(to bottom, #52b69a, #99d98c, #b5e48c);
    flex-basis: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    line-height: 6rem;
}

.title {
    font-size: 3.5rem;
    font-weight: bold;
}

.subtitle {
    font-size: 1.5rem;
}

.button {
    border-radius: 100px;
    border: 0;
    background-color: #2d393a;
    color: whitesmoke;
    padding: 1rem 2rem;
}
