.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
    background: linear-gradient(
        180.34deg,
        #5fbd98 0.3%,
        rgba(162, 221, 141, 0.921875) 99.7%
    );
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80rem;
    height: 8rem;
    border-radius: 1rem;
    margin: 3rem auto;
}

.rank_number {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 90px;
    color: #ffffff;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    min-width: 10rem;
}

.name {
    font-weight: 600;
    font-size: 3rem;
    line-height: 54px;

    color: #ffffff;

    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    margin: 0px 1.5rem;
    margin-right: auto;
}

.point {
    font-weight: 600;
    font-size: 3rem;
    line-height: 54px;

    color: #ffffff;

    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.avatar {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 0px 1.5rem;

    border: double 0.4rem transparent;
    background-image: linear-gradient(white, white),
        linear-gradient(#ffffff, #b5e48c 70%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
