.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.avatar {
    position: absolute;
    top: -8rem;
}

.user_info__container {
    margin-top: 7rem;
    font-size: 1.7rem;
}

.user__info__name {
    color: #3cac8d;
}

}

.user_info__actions {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
