.user_point {
    display: flex;
    width: 25rem;
    height: 5rem;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;

    background: linear-gradient(
        180.34deg,
        #5fbd98 0.3%,
        rgba(162, 221, 141, 0.921875) 99.7%
    );

    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 2rem;
}

.trophy_icon {
    color: rgb(255, 255, 88);
}
