.user_point {
    display: flex;
    width: 25rem;
    justify-content: space-between;
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 8px 20px;
    background: linear-gradient(
        180.34deg,
        #5fbd98 0.3%,
        rgba(162, 221, 141, 0.921875) 99.7%
    );
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 2rem;
}

.trophy_icon {
    color: rgb(255, 255, 88);
}
