.container {
    width: 70rem;
}

label {
    font-size: 2rem;
    width: 20rem;
    text-align: end;
    margin-right: 2rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    flex-grow: 1;
}

.submit__btn {
    margin: 2rem 22rem;
}
