.searchbar {
    font-size: 30px;
    padding: 6px;
    padding-left: 35px;
    border: none;
    border-radius: 10px;
    font-family: 'FontAwesome'
}

.searchbar:focus{
    outline: none;
}

.input-control {
    float: right;
    position: relative;
    margin-top: 8px;
    margin-right: 16px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-55%);
    font-size: 25px;
    color: #6C6C6C;
}
.searchbar:not(:placeholder-shown) ~ span {
    display:none;
  }