.card {
    background-color: white;
    border-radius: 10px;
    width: 70vw;
    height: 70vh;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.wordFront {
    font-size: xxx-large;
}

.separator {
    border: 1px solid black;
    margin: 10rem 0 10rem 0;
    width: 60vw;
}