.container {
    position: relative;
}

.formInput {
    padding: 1.5rem 2rem;
    padding-left: 4rem;
    border-radius: 5px;
    border: 1px solid #52b69a;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    width: 100%;
}

.formInput:focus {
    outline: 0;
}

.icon {
    position: absolute;
    top: 1.8rem;
    left: 1.5rem;
    color: gray;
    font-size: 1.5rem;
}

.invalid {
    border: red 1px solid;
}

.showPassword {
    position: absolute;
    right: -3rem;
    top: 1.8rem;
    font-size: 1.5rem;
    color: gray;
    cursor: pointer;
}
