.form_container {
    width: 80vw;
    margin: 5rem auto;
    background-color: white;
    border-radius: 2rem;
    padding: 3rem;
}

.buttonGroup {
    max-width: 27rem;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 1rem 1.5rem auto;
}

.errorMessage {
    font-size: 1.5rem;
    color: rgb(167, 33, 33);
    margin-bottom: 2.5rem;
}
