.item {
    position: relative;
    font-size: 2.3rem;
    font-weight: bold;
    padding: 2rem 5rem;
    cursor: pointer;
}

.active {
    left: 2rem;
    top: 5%;
    position: absolute;
    width: 1.2rem;
    height: 90%;
    background: #7ccb92;
    border-radius: 10px;
}
